{% extends 'base_index.html' %}

{% block title %} Help {% endblock title%}

{% block main_content %}
    <div class="help">
        <h4> What's HandStats ? </h4>
        <p>
            HandStats is a tool that will help you playing Hearthstone. This is a place where you can keep track of your current game and be aware of the odds of your opponent having certain cards in his hand right now, helping you making better decision when you play Hearthstone.
        </p>

        <h4> Do I need to be registered ?  </h4>
        <p>
            No, you don't.
        </p>
		
		<h4> Enjoy !  </h4>
    </div>
{% endblock %}
